langchain==0.2.16
langchain-core
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
streamlit
plotly
xlrd
openpyxl
faiss-cpu
huggingface-hub
sentence-transformers
groq
langchain-groq
PyPDF2
pypdf
google-cloud-aiplatform
python-docx
chromadb
streamlit-js-eval